@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');

:root {
    --color-brand-red: #dc0928;
    --color-brand-blue: #04d1f9;

    --color-primary-grey8: #888;
    --color-primary-green: #080;
    --color-primary-white: #fff;
    --color-primary-black: #000;
    --color-primary-grey: #333;

    --color-done: var(--color-primary-green);
    --color-na: var(--color-primary-grey8);
    --color-info: var(--color-brand-blue);
}

html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0 auto;
    max-width: 100rem;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    line-height: 1;
    margin: 0;
    text-align: center;
    text-decoration: none;
}

.section {
    border: 0.1rem solid var(--color-primary-black);
    margin-bottom: 2rem;
}

.section .section-header {
    background-color: var(--color-brand-red);
    color: var(--color-primary-white);
    display: grid;
    grid-template-columns: auto 10rem;
    margin: 0;
    padding: 1rem;
}

.section .section-header .percentage {
    text-align: right;
}

.section .section-item {
    border-bottom: 0.1rem solid var(--color-primary-black);
    display: grid;
    grid-template-columns: 2rem 6rem auto 2rem;
}

.section .section-item > * {
    padding: 1rem 0;
}

.section .section-item .info {
    background-color: var(--color-primary-white);
    color: var(--color-info);
    cursor: pointer;
    display: block;
    opacity: 0.2;
    text-align: center;
}

.section .section-item .info:hover {
    background-color: var(--color-info);
    color: var(--color-primary-white);
    opacity: 1;
}

.section .section-item .notes {
    grid-column: 1 / 5;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: height 0.25s ease;
}

.section .section-item .notes .note-list {
    padding: 1rem;
}

.section .section-item .notes .note-list .new-note-link {
    color: var(--color-brand-blue);
    cursor: pointer;
}

.section .section-item:last-child {
    border-bottom: none;
}

.section .clicker-for-nope {
    color: transparent;
    display: inline-block;
    text-align: center;
    width: 2rem;
}

.section .container-for-nope {
    display: none;
}

.section .section-item.na .clicker-for-nope {
    background-color: var(--color-na);
}

.section .section-item.done .clicker-for-nope {
    background-color: var(--color-done);
}

.section .section-item.na .clicker-for-nope:hover,
.section .section-item.done .clicker-for-nope:hover {
    color: var(--color-primary-white);
    cursor: pointer;
}

@media (max-width: 100em) {
    body {
        box-sizing: border-box;
        font-size: 2rem;
        padding: 2rem;
        width: 100%;
    }
}
