{% extends 'admin-base.html.twig' %}

{% block title %}User Admin{% endblock %}
{% block admin_body %}
    <table>
        <thead>
        <tr>
            <th>Email</th>
            <th>Display Name</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.displayName }}</td>
                <td>{{ user.roles | join(',') }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Email</th>
            <th>Display Name</th>
            <th>Roles</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}