@import "admin/header.css";

.admin-root body {
    max-width: 100%;
}

.admin {
    margin: 0 auto;
    max-width: 96vw;
}

.admin table {
    border-collapse: collapse;
    width: 100%;
}

.admin table thead,
.admin table tfoot {
    background-color: var(--color-theme-1);
    color: var(--color-chris-light);
}

.admin table tbody {
    background-color: var(--color-chris-light);
    color: var(--color-chris-dark);
}

.admin table th {
    text-align: left;
}

.admin table th,
.admin table td {
    padding: 0.5rem;
    vertical-align: middle;
}

.admin table tbody tr + tr {
    border-bottom: 0.1rem solid #e3e7ee;
}