.form-login {
    margin: 0 auto;
    max-width: 30rem;
    padding-top: 5rem;
}

.form-login .fields {
    margin-top: 4rem;
}

.form-login .fields .row + .row {
    margin-top: 2rem;
}

.form-login .fields label {
    display: block;
    font-size: 2rem;
}

.form-login .fields input {
    padding: 1rem;
    width: 100%;
}

.form-login button {
    background-color: var(--color-background-button);
    color: var(--color-foreground-button);
    padding: 1rem 2rem;
}
