html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: var(--color-chris-light);
    color: var(--color-chris-dark);
    font-size: 1.6rem;
    margin: 0 auto;
    max-width: 100rem;
    width: 100%;
}

a {
    color: var(--color-foreground-link);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    line-height: 1;
    margin: 0;
    text-align: center;
    text-decoration: none;
}


@media (max-width: 100em) {
    body {
        box-sizing: border-box;
        font-size: 2rem;
        padding: 2rem;
        width: 100%;
    }
}
