.admin-root header {
    align-items: center;
    border-bottom: 0.1rem solid var(--color-chris-dark);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    padding: 2rem 8vw;
}

.admin-root header .admin-nav {
    font-size: 1.6rem;
    justify-self: right;
    list-style-type: none;
}

.admin-root header .admin-nav > * {
    margin: 0;
}

.admin-root header .admin-nav a {
    color: var(--color-foreground-link);
    text-decoration: none;
}

.admin-root header .admin-nav a:hover {
    text-decoration: underline;
}