{% extends 'base.html.twig' %}

{% block title %}Create new checklist{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Select a base template</h1>
        <ul>
            {% for template in templates %}
                <li>
                    <a href="{{ url('checklist_create_with_template', {'templateId': template.id }) }}">{{ template.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
